.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table .row{
  display: flex;
  border: 1px solid #282c34;
  padding: 3px;
}
.table .row .col {
  flex: 1;
  border-right: 1px solid #282c34;
}
.table .row .col:last-child {
  border: 0;
}
.group{
  background-color: rgb(145, 143, 143);
  text-align: left;
  cursor: pointer;
}
.group .col:last-child, .day .col:last-child{
  text-align: right;
}
.day {
  cursor: pointer;
  text-align: left;
  background-color: rgb(186, 184, 184);
}
.units {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}
.hidden, .table .row.hidden{
  display: none;
}